<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154602170689-d5ak7tlbop0r9lcld07ldkvhd8n36vir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154602170689-d5ak7tlbop0r9lcld07ldkvhd8n36vir</string>
	<key>API_KEY</key>
	<string>AIzaSyB3g3TkUi-IQsBhV4mjSRDRnR2ZCJ3N5cc</string>
	<key>GCM_SENDER_ID</key>
	<string>154602170689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.weather</string>
	<key>PROJECT_ID</key>
	<string>weather-app-7556a</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-7556a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154602170689:ios:2f667ac93f10269d5c59c0</string>
</dict>
</plist>